@media screen and (min-width: 768px) {

    header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .header__general__info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main__info--wrap {
        flex-direction: row;
    }

    .display__choices {
        justify-content: center;
    }

    .display__choices span {
        flex-basis: 10%;
    }

    footer {
        justify-content: space-between;
    }
    
    .d-none {
        display: flex !important;
    }
}

@media screen and (max-width: 720px) {

    .popup {
        flex-wrap: wrap;
        height: 90%;
    }

    figcaption {
        display: flex;
        align-items: center;
    }
}