@media screen and (max-width: 1000px) {

    .navbar__input {
        margin: 0 11%;
    }
}

@media screen and (min-width: 768px) {

    .d-none {
        display: inline-block !important;
    }

    .header__general__info h1 {
        display: inline-block;
        margin-top: 5px;
    }

    .header__general--avatar {
        float: left;
        margin-left: 5%;
    }
    
    .header__general--wrap {
        margin-left: 35%;
    }

    .header__description {
        margin-top: 12px;
    }

    main {
        max-width: 95%;
        margin: 0 auto;
    }

    .main__images {
        display: inline-block;
    }

    .main__images a {
        width: 30.7%;
    }

    .display__choices {
        margin-left: 36%;
        margin-right: 0;
    }

    .display__choices--wrap {
        display: inline-block;
        width: 75px;
        padding-top: 15px;
    }

    .display__choices a {
        margin: 0 !important;
        float: left;
    }

    .display__choices--wrap p {
        margin: 0;
        float: right;
    }

    .width-95px {
        width: 95px;
    }

}

@media screen and (min-width: 1000px) {

    .main__images a {
        width: 31.2%;
    }

    .footer__links {
        float: left;
        margin-bottom: 25px;
    }

    footer p {
        float: right;
    }
}

@media screen and (min-width: 500px) {

    .popup {
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }

    .modal__title--768 {
        box-sizing: border-box;
    }
}

@media screen and (min-width: 720px) {

    .popup {
        background-color: black;
        width: 90%;
        height: 80%;
    }

    .popup__image--ratio {
        display: inline-block;
        width: 50%;
        margin: auto 0;
    }

    .modal {
        display: inline-block;
        height: 100%;
        max-width: 50%;
        position: absolute;
        right: 0;
    }

    figcaption a {
        width: 200px;
        display: inline-block;
    }
}

@media screen and (min-width: 1000px) {

    .popup {
        width: 70%;
        max-height: 60%;
    }
}