.navbar__logo {
    float: left;
}

.navbar__input {
    margin: 0 20%;
    margin-top: 4px;
}

.register__buttons {
    float: right;
}

.header__description {
    margin-top: 20px;
}

.main__info--description--bottom {
    display: block;
}

.main__info--number--bottom {
    display: inline-block;
    width: 100%;
    text-align: center;
}

li {
    float: left;
}

.clear {
    clear: both;
}

.display__choices {
    height: 45px;
}

.display__choices--wrap {
    display: inline-block;
    width: 49.4%;
}

.display__choices--wrap a {
    margin: 10px 45%;
}

.main__images a {
    display: inline-block;
    float: left;
}

footer {
    text-align: center;
}

.footer__links {
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

footer p {
    display: inline-block;
}

.modal__title--avatar {
    float: left;
}

.modal__title figcaption {
    display: inline-block;
    width: 20px;
    margin: 4px 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.m-25 {
    margin: 0 25%;
}

.m-auto {
    margin: 0 auto;
}

.m-left-7-20 {
    margin: 0 7% 0 20%;
}

.m-left-20-7 {
    margin: 0 20% 0 7%;
}

.h10 {
    height: 40px;
}