* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 21px 5px;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.4);
    z-index: 1;
}

.navbar__logo {
    height: 35px;
    margin-left: 15px;
}

.navbar__logo--camera {
    color: transparent;
    display: inline-block;
    background-image: url(../images/sprite1.png);
    background-repeat: no-repeat;
    background-position: -120px -123px;
    background-size: 260px;
    height: 24px;
    width: 24px;
    display: none;
}

.navbar__logo--text {
    color: transparent;
    display: inline-block;
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    background-size: 250px 230px;
    background-position: 0 -56px;
    margin-top: 5px;
    height: 30px;
    width: 105px;
}

.navbar__logo--seperator {
    color: transparent;
    background-color: #262626;
    display: inline-block;
    margin: 0 10px;
    padding: 2px 0;
    height: 24px;
    width: 1px;
}

.navbar__input {
    padding: 11px;
    width: 52.5px;
    height: 4px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    display: none;
}

::placeholder {
    background-image: url(../images/sprite1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: -288px -123px;
    color: #999;
}

.register__buttons {
    display: flex;
    align-items: center;
}

.register__buttons button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
}

.register__buttons--blue {
    background-color: #3897f0;
    color: white;
    margin-right: 10px;
}

.register__buttons--transparent {
    background-color: transparent;
    color: #3897f0;
}

header {
    position: relative;
    top: 105px;
    margin: 0 16px;
}

.header__general {
    display: flex;
    flex-wrap: wrap;
}

.header__general--avatar {
    border-radius: 50%;
    height: 77px;
}

.header__general__info {
    margin-left: 28px;
}

.header__general__info h1 {
    font-weight: 100;
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.header__general__info button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    background-color: #3897f0;
    color: white;
    margin-right: 10px;
    height: 30px;
}

.header__description {
    margin-top: 15px;
}

.header__description h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1px;
}

.header__description p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
}

.header__description a {
    font-size: 14px;
    text-decoration: none;
    color: #003569;
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    color: white;
    font-size: 12px;
    padding: 8px;
    left: 0;
    right: 0;
}

footer:target{
    display: none;
}

.footer__close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #b9b9b9;
}

.footer__logo {
    color: transparent;
    display: inline-block;
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    background-size: 227px 227px;
    background-position: -187px -35px;
    margin-top: 5px;
    height: 35px;
    width: 35px;
    display: none;
}

footer h3 {
    margin-bottom: 0;
    margin-top: 5px;
}

footer p {
    margin-top: 0
}

main {
    position: relative;
    top: 100px;
}

ul {
    list-style-type: none;
}

.main__info {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 24px 0 0 0;
}

.main__info--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    flex-basis: 33%;
}

.main__info--description {
    color: #999;
}

.main__info--number {
    color: #262626;
    font-weight: 600;
}

.display__choices {
    display: flex;
}

.display__choices span {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}

.display__choices a {
    color: transparent;
    display: inline-block;
}

.display__choices--all {
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    background-position: -354px -732px;
    height: 24px;
    width: 24px;
}

.display__choices--tagged {
    background-image: url(../images/sprite2.png);
    background-repeat: no-repeat;
    background-position: -630px -638px;
    height: 24px;
    width: 24px;
}

.d-none {
    display: none;
}