@media screen and (min-width: 768px) {

    nav {
        display: grid;
        grid-template-areas: 'nav-logo nav-input nav-register';
    }
    
    .navbar__input {
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-areas: 'avatar general'
    }

    .header__general--avatar {
        margin-left: 15%;
    }

    .header__general--wrap {
        margin: 0 0 0 auto;
        max-width: 80%
    }

    .header__general__info h1 {
        display: inline-block;
    }

    .display__choices {
        width: 40%;
        margin: 0 40% 20px 40%;
    }

    .display__choices span {
        position: relative;
    }

    .display__choices a {
        position: absolute;
        left: 50px;
        top: 10px;
    }

    .display__choices--all {
        left: 7px !important;
    }

    .display__choices p {
        margin-top: 10px;
    }

    .display__choices--tagged {
        left: 5px !important;
    }

    .main__images a {
        margin: 0;
    }

    .main__images {
        grid-gap: 28px;
        width: 95%;
        margin: auto;
    }

    .d-none {
        display: grid !important;
    }

    .footer__links {
        width: 45%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px) {

    .footer__links {
        width: 100%;
        margin-left: 0;
        margin-right: auto;
        display: inline-block;
        text-align: start;
    }

    footer p {
        display: inline-block;
    }
}

@media screen and (min-width: 500px) {

    .popup {
        background-color: black;
        margin: auto;
        margin-top: 25px
    }

    .modal__title {
        width: 92%
    }
}

@media screen and (min-width: 720px) {

    .popup {
        display: grid;
        grid-template-areas: 'image modal';
        grid-template-columns: 50% 100%;
        margin-top: 10%;
    }

    .modal {
        max-width: 50%;
    }
}