@media screen and (min-width: 768px) {

    .navbar__logo--camera {
        display: inline-block;
    }

    .navbar__input {
        display: inline-block;
    }

    header {
        top: 140px;
        left: 41.5px;
    }

    .header__general {
        position: relative;
    }

    .header__description {
        position: absolute;
        top: 80px;
        left: 227px;
        max-width: 100%;
    }

    .header__general--avatar {
        width: 155px;
        height: 155px;
    }

    .header__general__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 70px;
        height: 50px;
    }

    .header__general__info button {
        margin-left: 20px;
    }

    .main__info {
        top: 20px;
        left: 227px;
        border: none;
    }

    .main__info--description {
        margin-right: 3px;
        color: #262626;
    }

    .main__info--wrap {
        flex-direction: row;
        margin-right: 40px;
    }

    .w-50px {
        width: 80px;
    }

    .p-absolute {
        position: absolute;
    }

    main {
        top: 240px;
    }

    .d-none768 {
        display: none;
    }
    
    .d-none {
        display: flex;
    }
}